/*Tab Styling*/

.ion-android-alert {
  color: red;
}

/*Home Tab*/

.scroll h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 70px;
}

.scroll h3 {
  font-family: 'Rokkitt', serif;
  font-size: 30px;
}

.runner {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bolded{
  font-family: 'Rokkitt', serif;
  font-size: 18px;
}

.homeContent {
  margin: 15px;
}


/*Account Tab*/


.accountForm {
  margin: 20px;
  margin-bottom:10px;
}

/*Profile Page in Account Tab*/

.profilePage{
  margin: 20px;
}

.profileGreet {
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;
}
