/*Tab Styling*/

.ion-android-alert {
  color: red;
}

/*Home Tab*/

.scroll h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 70px;
}

.scroll h3 {
  font-family: 'Rokkitt', serif;
  font-size: 30px;
}

.runner {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bolded{
  font-family: 'Rokkitt', serif;
  font-size: 18px;
}

.homeContent {
  margin: 15px;
}


/*Account Tab*/


.accountForm {
  margin: 20px;
  margin-bottom:10px;
}

/*Profile Page in Account Tab*/

.profilePage{
  margin: 20px;
}

.profileGreet {
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;
  margin-bottom: 30px;
}

.sectionHeader{
  font-family: 'Rokkitt', serif;
  font-size: 22px;
}

.logoutBtn {
  background-color: #2abcca;
  font-family: 'Rokkitt', serif;
  font-size: 18px;
}

.saveBtn {
background-color: #2abcca;
font-family: 'Rokkitt', serif;
font-size: 18px;
}

/*Nav Tab*/
.navText {
  margin:15px;
}


/*Panic Tab*/
.panicStyle {
  margin: 15px;
  padding: 15px;
}

.panicButton {
 width: 300px;
 height: 200px;
 border-radius: 12px;
 font-size: 80px;
 /*font-family: 'Permanent Marker', cursive;*/
 font-family: 'Paytone One', sans-serif;
}
