<ion-view>
  <ion-content>
    <div id="map" style ="height: 400px" ng-init="makeMap()" ng-click="makeMarker()">
    </div>
    <br>

<div class="navText">

    <p class="text-center"><b class="bolded">Start tracking your steps and GPS location by enabling your tracking below.</b></p>
    <br>

    <P><i class="icon ion-location current"></i> To get directions, tap on your red "current location" marker.</p>

    <P><i class="icon ion-location crime"></i> The blue markers show the recent crimes reported in your area.</p>

</div>

    <ion-toggle ng-model="tracking" ng-change="trackToggle()">Enable Tracking</ion-toggle>



  </ion-content>
</ion-view>
