<ion-view >
  <ion-content>

<!-- User Log-in screen  -->

<div class="accountForm" ng-hide="user">
  <h3 class=" text-center profileGreet">You Deserve to Feel Safe</h3>

  <div class="list list-inset">
    <p class="profileGreet text-center"><b class="bolded"> New to Protego? Let's Create Your Account!</b></p>
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model ="data.newfirstname">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model ="data.newlastname">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model ="data.newusername">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password" ng-model ="data.newpassword">
      </label>
    </div>
    <br>
    <button class="button button-block  button-energized" ng-click="register()">

    <b class="bolded">
      Create My Account
    </b>
    </button>
    <br>

</div>

<div class="accountForm" ng-hide="user">
    <p class="text-center"><b class="bolded"> Already a Member? Sign In Here: </b></p>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model ="data.username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password" ng-model ="data.password">
      </label>
    </div>
   <br>
  <button class="button button-block button-energized" ng-click="login()">
  <b class="bolded">
    Login Now
  </b>
  </button>
</div>
<br>



<!-- user profile after log-in  -->

<div ng-show="user" class="profilePage" >

<ion-card>

<p class=" text-center profileGreet">  She Who is Brave is Free </p>
<hr>
<!-- <br>
  <img  ng-src="{{imgData}}" class="img-circle"/>
  <button class="btn btn-default btn-xs" ng-click="clickIt()">Add Your Profile Picture</button>
  <br> -->

  <ion-card-content>
  <!-- user personal information -->
<h5 class="sectionHeader">Personal Information:</h5>
<br>
    <p><b class="bolded"> First Name:</b>  {{user.firstname}} </p>
    <p><b class="bolded"> Last Name:</b>  {{user.lastname}} </p>
    <p><b class="bolded"> Username:</b> {{user.username}} </p>

<hr>
<!-- user fitness information -->

<h5 class="sectionHeader">Track Your Fitness:</h5>
<br>
<p><b class="bolded">Daily Distance:</b></p>
<p>You tracked {{trackHistory}} steps on your run today!</p>
<p> Your total today is {{history}} steps!</p>


<hr>



<!-- user emergency contacts info  -->

<h5 class="sectionHeader">Emergency Contacts:</h5>
<br>

   <div class="list list-inset">
     <label class="item item-input">
       <input type="text" placeholder="Contact 1 Name" ng-model="user.emergency[0].name" >
     </label>
     <label class="item item-input">
       <input type="text" placeholder="Contact 1 Number" ng-model="user.emergency[0].phone">
     </label>
     <label class="item item-input">
       <input type="text" placeholder="Contact 1 Relation" ng-model="user.emergency[0].relation">
     </label>
     <hr>
     <label class="item item-input">
       <input type="text" placeholder="Contact 2 Name" ng-model="user.emergency[1].name">
     </label>
     <label class="item item-input">
       <input type="text" placeholder="Contact 2 Number" ng-model="user.emergency[1].phone">
     </label>
     <label class="item item-input">
       <input type="text" placeholder="Contact 2 Relation" ng-model="user.emergency[1].relation">
     </label>
     <hr>
     <label class="item item-input">
       <input type="text" placeholder="Contact 3 Name" ng-model="user.emergency[2].name">
     </label>
     <label class="item item-input">
       <input type="text" placeholder="Contact 3 Number" ng-model="user.emergency[2].phone">
     </label>
     <label class="item item-input">
       <input type="text" placeholder="Contact 3 Relation" ng-model="user.emergency[2].relation">
     </label>
     <hr>
   </div>







<!-- user log out or save changes -->

  <button class="saveBtn"ng-click="saveContacts()">Save Changes</button>
  <button class"logoutBtn"ng-click="logout()">Logout</button>


  </ion-card-content>
</ion-card>


</div>



</ion-content>
</ion-view>
