
<ion-view>
  <ion-content>


 <div class="panicStyle">

   <h3 class=" text-center profileGreet">Feeling Threatened??</h3>
     <p class="profileGreet text-center"><b class="bolded">To get help immediately, press the
       'PANIC' button below!</b></p>
<br>

    <button class="button button-large panicButton " ng-click="help()">PANIC</button>
    <br>
    <br>
    <p class="text-center">** You must be signed-in to alert your contacts and the volume must be turned up to hear siren.</p>
    <!-- <p class="text-center">** The volume must be turned up to play siren</p> -->
<div>


  </ion-content>
</ion-view>
